<footer>
    <h6>+Cotitas S.A.</h6>
    <h6>Todos los derechos reservados ®</h6>
    <h6><i class="bi bi-whatsapp"></i>+57 304 5318796 <i class="bi bi-instagram"></i> mas_cotitas</h6>

</footer>


<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Menú</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <h5>Productos</h5>
            <ul>
                <li><a class="nav-link" href="alimento.html">Alimento</a></li>
                <li><a class="nav-link" href="delimpieza.html">De limpieza</a></li>
                <li><a class="nav-link" href="vacunas.html">Vacunas</a></li>
            </ul>
        </div>
        <div>
            <h5>Servicios</h5>
            <ul>
                <li><a class="nav-link" href="salud.html">Salud</a></li>
                <li><a class="nav-link" href="estetica.html">Estética</a></li>
                <li><a class="nav-link" href="vacunacion.html">Vacunación</a></li>
            </ul>
        </div>
        <div>
            <h5>Quiénes somos</h5>
            <ul>
                <li><a class="nav-link" href="nuestroequipo.html">Nuestro equipo</a></li>
                <li><a class="nav-link" href="historia.html">Historia</a></li>
                <li><a class="nav-link" href="nuestroequipo.html">Nuestro equipo</a></li>
            </ul>
        </div>
        <h5><a class="nav-link" href="contactanos.html">Contáctanos</a></h5>
    </div>
</div>
<script src="js/script.js"></script>
<script src="js/script2.js"></script>
</body>

</html>