<body>
    <header>
        <nav class="barra navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img id="logo" src="img/logo_mascotitas.png" alt="">
                </a>
                <div class="apartados_index collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto" id="apartados_index">
                        <li class="nav-item dropdown">
                            <a class="barra nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">Productos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/alimento">Alimento</a></li>
                                <li><a class="dropdown-item" href="/delimpieza">De limpieza</a></li>
                                <li><a class="dropdown-item" href="/catalogo">Catálogo</a></li>
                                <li><a class="dropdown-item" href="/listado_productos">Listado de Productos</a></li>
                                <li><a class="dropdown-item" href="/landing">Landing Page</a></li>
                                <li><a class="dropdown-item" href="/listarPersonas">Listar personas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="barra nav-link" href="/servicios">Servicios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="barra nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">Quiénes somos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/nuestroequipo">Nuestro equipo</a></li>
                                <li><a class="dropdown-item" href="/historia">Historia</a></li>
                                <li><a class="dropdown-item" href="/patrocinios">Patrocinios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="barra nav-link" href="/contactanos">Contáctanos</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <% if (session) { %>
                                <a class="btn boton_navbar" class="nav-link btn" href="/cerrarSesion">Cerrar Sesión</a>
                            <% } else { %>
                                <a class="btn boton_navbar" class="nav-link btn" href="/iniciarSesion">Registrarse</a>
                            <% } %>
                        </li>
                        <li id="menu_hamburguesa" class="nav-item">
                            <button class="barra nav-link" data-bs-toggle="offcanvas" data-bs-target="#demo"><i
                                    class="bi bi-list"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
