
  /*////////////////////////////////////*/
  
  .list-card {
    display: flex;
    background-color: white;
    border: 5px solid #021429;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
  }
  
  .img-container-list {
    margin-right: 10px;
    text-align: center;
  }
  
  .img-list {
    max-width: 50px;
    max-height: 50px;
  }
  
  .details-container {
    flex: 1;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  p.font-weight-bold {
    font-weight: bold;
  }
  
  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active,
  .collapsible:hover {
    background-color: #ccc;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .mi-alerta {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  #views_container {
    display: flex; /* Usamos flexbox */
    flex-direction: row; /* Queremos que estén en una fila horizontal */
  }
  
  
  #productListContainer {
    display: inline;
  }
  
  
  #register_products_form {
    margin: 20px;
    border-radius: 50px;
    padding: 30px;
    background-color: #021429;
    color: white;
  }
  
  .titles {
    text-align: center;
    margin-top: 20px;
  }
  
  #success {
    display: none;
    position: absolute;
    top: 110px;
    margin: 0 auto;
  }
  
  .number-box {
    border: 1px solid black;
    width: 70px;
    height: 30px;
    text-align: center;
    margin: 0 10px;
  }
  
  .quantity-box {
    display: flex;
  }
  
  .plus, .minus {
    border: 0 solid transparent;
    background-color: transparent;
  }