<%- include('../partials/encabezado'); %>
<%- include('../partials/navbar'); %>


    <nav aria-label="breadcrumb" id="miga">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contáctanos</li>
        </ol>
    </nav>

    <h1 class="titulos_apartados">Contáctanos</h1>

    <div class="contenido">
        <img src="../img/WhatsApp.webp" alt="">
        <a href="https://wa.link/1txtru">
            <h2 class="numero">+57 304 531 8796</h2>
        </a>
    </div>

<%- include('../partials/footer'); %>