<%- include('../partials/encabezado'); %>
<%- include('../partials/navbar'); %>


<div>
    <nav aria-label="breadcrumb" id="miga">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item">Quiénes somos</li>
            <li class="breadcrumb-item active" aria-current="page">Historia</li>
        </ol>
    </nav>
</div>

<h1 class="titulos_apartados">Historia</h1>
<h3 class="titulo-historia">Nuestra Historia: El Cimiento de Nuestro Éxito en la Veterinaria</h3>
<div class="contenido-historia">
    En el corazón de nuestra clínica veterinaria yace una historia de dedicación, innovación y un compromiso
    inquebrantable con el bienestar animal. Nuestro viaje no solo ha estado marcado por la excelencia en la atención
    veterinaria, sino también por asociaciones estratégicas con patrocinadores líderes en la industria, como
    Pedigree, DogChow, Whiskas y otros. Estos patrocinadores han sido un pilar fundamental en el desarrollo y éxito
    de nuestro sistema de veterinaria.

    Los Primeros Pasos: Creciendo Juntos

    Cuando comenzamos nuestra clínica, nuestra visión era simple pero ambiciosa: brindar la mejor atención posible a
    las mascotas y sus dueños. En esos primeros días, enfrentamos desafíos que solo podían ser superados con la
    ayuda de socios comprometidos. Pedigree fue uno de los primeros en creer en nuestra visión. Su apoyo no solo se
    tradujo en recursos financieros, sino en un compromiso compartido con la salud y la nutrición animal. Juntos,
    desarrollamos prácticas de alimentación que han impactado positivamente en innumerables mascotas y han sentado
    las bases para nuestra evolución continua.
</div>
<div class="pet_banner">
    <img src="../img/pets-banner.jpg" alt="" width="1400px" height="450px">
</div>
<div class="contenido-historia">
    Hoy en día, nuestra clínica es un testimonio de la dedicación, la innovación y la pasión por el bienestar
    animal. Nuestra alianza con Pedigree, DogChow, Whiskas y otros patrocinadores líderes en la industria sigue
    siendo un componente crítico de nuestro éxito. Sus recursos, conocimientos y productos de alta calidad nos han
    permitido crecer y mejorar constantemente. Continuamos aprendiendo y evolucionando para brindar el mejor cuidado
    posible a las mascotas y sus dueños.

    Nuestra historia está intrínsecamente ligada a nuestros patrocinadores y a su compromiso con la salud animal.
    Desde nuestros humildes comienzos hasta nuestros actuales logros, reconocemos la importancia de estas alianzas
    estratégicas. A medida que avanzamos hacia el futuro, seguimos honrando nuestro compromiso con el bienestar
    animal, respaldados por la experiencia y el apoyo de nuestros valiosos patrocinadores.
</div>

<%- include('../partials/footer'); %>