<%- include('../partials/encabezado'); %>

<title><%=titulo   %></title>

<section>
    <img id="banner" src="img/banner_renovado.png" alt="banner_original">
</section>

<%- include('../partials/footer'); %>