<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
</head>

<body onload="fetchDepartments()">
    <div id="departments">

    </div>

    <script src="js/script3.js"></script>
</body>

</html>