<%- include('../partials/encabezado'); %>
    
    <div>
        <nav aria-label="breadcrumb" id="miga">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item">Quiénes somos</li>
                <li class="breadcrumb-item active" aria-current="page">Nuestro equipo</li>
            </ol>
        </nav>
    </div>

    <h1 class="titulos_apartados">Nuestro equipo</h1>
    <h3 class="titulo-nuestroequipo"> El Corazón de Nuestra Clínica Veterinaria: La Evolución de Nuestro Equipo de Trabajo</h3>
    <div class="contenido-nuestroequipo">
        En el centro de nuestro compromiso con la excelencia en la atención veterinaria se encuentra un equipo dedicado
        y apasionado. A lo largo de los años, hemos experimentado un crecimiento y una evolución significativos, y
        nuestro equipo de trabajo ha sido la piedra angular de nuestro éxito. En este artículo, exploraremos la
        importancia fundamental de nuestro equipo y cómo ha contribuido a la expansión y mejora continua de nuestros
        servicios.

        Cuando nuestra clínica veterinaria abrió sus puertas por primera vez, éramos un pequeño grupo de fundadores con
        una visión compartida: brindar cuidado excepcional a las mascotas y sus dueños. Nuestro equipo original estaba
        compuesto por veterinarios altamente calificados y personal de apoyo apasionado. Juntos, establecimos los
        cimientos para lo que se convertiría en una práctica de renombre en la comunidad.

        Con el tiempo, nuestra práctica creció en tamaño y alcance. A medida que ampliamos nuestros servicios y
        capacidades, también diversificamos nuestro equipo. Contratamos especialistas en diversas áreas de la
        veterinaria, desde cirugía y radiología hasta dermatología y odontología. Esta expansión nos permitió ofrecer
        una gama completa de servicios veterinarios y mejorar la atención que brindamos a las mascotas.

        Nuestro equipo no es solo un grupo de individuos talentosos; somos una familia que comparte una pasión por el
        cuidado de los animales. Fomentamos un ambiente de colaboración y aprendizaje continuo, donde cada miembro del
        equipo aporta su experiencia única para el beneficio de todos. Esta cultura de colaboración ha sido esencial
        para enfrentar desafíos clínicos complejos y encontrar soluciones innovadoras.

        Nuestra historia es un testimonio del poder de un equipo comprometido y apasionado. A medida que miramos hacia
        el futuro, estamos emocionados por las oportunidades que se presentan y confiamos en que nuestro equipo seguirá
        siendo el motor de nuestro éxito. Seguiremos creciendo, aprendiendo y evolucionando, siempre con el objetivo de
        brindar el mejor cuidado posible a las mascotas y sus dueños.
        <img class="veterinarios" src="../img/veterinarios.jpeg" alt="" width="450px" height="400px">
    </div>

    <%- include('../partials/footer'); %>